html{
    font-size: 20px;
}
body{
    font-family:"Arial", "Meiryo", sans-serif ;
    text-align: center;
}
h1{
    font-family:"Josefin Sans", sans-serif ;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px gray
    border-bottom: 3px solid rgb(115,115,114);
}
.blue{
    color: skyblue;
}
.pink{
    color: rgb(255,192,203);
}
#basic p {
    font-weight: bold;
}
body > p {
    font-weight: normal;
}
h2 + p {
    font-weight: normal;
}
#basic h2 + P {
    font-weight: bold;
}
